.about-section-title {
  font-size: 24px;
  color: #e2e8f0;
  font-family: "Roboto Slab", serif;
}

p {
  color: #e2e8f0;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  font-weight: 150;
}

a {
  text-decoration: none;
}
