.skills-section-title {
  font-size: 24px;
  color: #e2e8f0;
  font-family: "Roboto Slab", serif;
}

.skills-card-container {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px #6685a6;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 15px;
}

.skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-icons {
  width: 100px;
  height: 100px;
}

.tech-text {
  font-weight: bold;
  font-size: 24px;
  color: #3281d5;
}

@media only screen and (max-width: 808px) {
  #skills-section {
    width: 100%;
  }

  .skills-card-container {
    width: 50%;
    justify-content: space-evenly;
  }

  .tech-icons {
    width: 50px;
    height: 50px;
  }

  .tech-text {
    font-weight: bold;
    font-size: 18px;
    color: #3281d5;
    margin-bottom: 0;
    margin-top: 0;
  }
}
