body {
  margin: 0;
  padding: 20px 20px;
  background-color: rgba(25, 55, 88, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  min-width: 1030px;
  font-family: "Roboto Slab", serif;
}

/* html {
  scroll-behavior: smooth;
} */
